---

---
<section id="learning" class="mb-16 scroll-mt-16 md:mb-24 lg:mb-36 lg:scroll-mt-24">
    <div class="mb-6">
        <h2 class="section-anchor text-md font-bold uppercase tracking-widest text-slate-900">
            Learning & Languages
        </h2>
        <div class="mt-3 h-px w-full bg-slate-400"></div>
    </div>

    <div class="space-y-10">
        <div>
            <h3 class="font-medium text-slate-900 mb-3">
                Currently Learning
            </h3>

            <ul class="space-y-4 pl-2">
                <li class="flex items-start gap-3 text-slate-700 font-normal">
                    <span class="mt-2 h-1.5 w-1.5 rounded-full bg-slate-500 shrink-0"></span>
                    <span>Spring Boot</span>
                </li>
                <li class="flex items-start gap-3 text-slate-700 font-normal">
                    <span class="mt-2 h-1.5 w-1.5 rounded-full bg-slate-500 shrink-0"></span>
                    <span>Authentication & Authorization</span>
                </li>
                <li class="flex items-start gap-3 text-slate-700 font-normal">
                    <span class="mt-2 h-1.5 w-1.5 rounded-full bg-slate-500 shrink-0"></span>
                    <span>System Design Principles</span>
                </li>
            </ul>
        </div>
        <div>
            <h3 class="font-medium text-slate-900 mb-3">Languagues</h3>

            <ul class="space-y-4 pl-2">
                <li class="flex items-start gap-3 text-slate-700 font-normal">
                    <span class="mt-2 h-1.5 w-1.5 rounded-full bg-slate-500 shrink-0"></span>
                    <span>Spanish (Native)</span>
                </li>
                <li class="flex items-start gap-3 text-slate-700 font-normal">
                    <span class="mt-2 h-1.5 w-1.5 rounded-full bg-slate-500 shrink-0"></span>
                    <span>English (A2 — Technical Reading)</span>
                </li>
            </ul>
        </div>
    </div>
</section>